@charset "utf-8";
/* CSS Document */

#heading{
	color:#333;
	text-align:center;
	font-size:x-large;
}

#home {
	text-align: center;
	position: absolute;
	top: 26px;
	right: 24px;
	font-size: large;
}
 
a{
	text-align:center;
	text-decoration:none;
	color: none;
}

#submit{
	background-color:#36F;
	margin-top:25px;
	font-family:OpenSans;
	font-size:13px;
	color:#FFF;
	width:80px;
	height:33px;
	border:thick;
	border-color:#666666;
	border-radius:3px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#label:hover{
	cursor:pointer;
}

#opti:hover{
	cursor:pointer;
	animation:linear;
	appearance:checkbox;
}

#submit:hover{
	background-color:#05F;
	-webkit-box-shadow: inset 0 .5px .5px;
	border-color:#333333;
	border-width:thick;
	cursor:pointer;
}

p {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size: 110%;
}