@charset "utf-8";
/* CSS Document */

#heading{
	color:#333;
	text-align:center;
	font-size:x-large;
}

#inputbox {
    margin-top: 30px;
    text-align:center;
}

#inputquery{
    padding-left: 5px;
    width: 300px;
    height: 30px;
    font-size: 18px;
}

#submitquery{
    
    width: 100px;
    height: 35px;
    font-size: 18px;
    background-color:#0077FF;
    color:#FFFFFF;
	border:none;
	border-radius:4px;
}

#submitquery:hover {
    cursor:pointer;
    border-width: 2px;
    border-color:#000000;
	background-color:#0066FF;
}

#res:hover{
	cursor:pointer;
}

#footer {
    position:relative;
    margin-top: 100px;   
}

.displaytable {
    border-collapse:collapse; 
}

span{
	margin-top:50px;
}

#exports{
	cursor:pointer;
    text-decoration:none;
}

#exports:hover{
	text-decoration:underline;
}


.bold {
    color:#FFF;
	background-color:#0066FF;
    font-weight:bold;
}
.displaytable {
    border-collapse:collapse; 
    margin-top:50px;
}
table.displaytable tr:nth-child(even) {
    background: #CCC;
}
